<div class="mainView">

    <div class="parent">
        <form>
            <div class="form-group fileSelector file1 ">
                <label for="pomfile1">6.1 pom.xml</label>
                <input type="file" data-to="f1" name="file1" class="form-control-file" id="pomfile1" accept=".xml">
            </div>
        </form>
        <form>
            <div class="form-group file2 fileSelector">
                <label for="pomfile2">6.5 pom.xml</label>
                <input type="file" data-to="f2" name="file2" class="form-control-file" id="pomfile2" accept=".xml">
            </div>
        </form>
        <div class="compButton">
            <button type="button" class="btn btn-info compare">Compare</button>
        </div>
    </div>


    <div class="resaultParent">
        <form>
            <div class="form-group resaultStyle">
                <h4> 6.1 Pom File</h4>
                <textarea class="f1 " rows="25" cols="40" readonly="readonly"></textarea>
            </div>
        </form>
        <form>
            <div class="form-group resaultStyle">
                <h4>6.5 Pom File</h4>
                <textarea class="f2 " rows="25" cols="40" readonly="readonly"> </textarea>
            </div>
        </form>
        <!-- <div class="f1 resaultStyle"></div>
        <div class="f2 resaultStyle"></div> -->
    </div>


    <div class="glass cover popup">

        <form>
            <div class="form-group popStyle">
                <h4> In 6.1 not 6.5</h4>
                <textarea class="sub " rows="25" cols="40" readonly="readonly"></textarea>
            </div>
        </form>
        <form>
            <div class="form-group popStyle">
                <h4>in 6.5 not 6.1</h4>
                <textarea class="add " rows="25" cols="40" readonly="readonly"> </textarea>
            </div>
        </form>
        <div class="closeButton">
            <button type="button" class="btn btn-info doClose">Close</button>
        </div>
    </div>
</div>