.parent {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;

    .fileSelector {
        display: inline-block;
        width: 500px;
        border: 1px solid blue;
        padding: 25px;
        vertical-align: top;
        margin: 15px;

    }

    .compButton {
        display: inline-block;
        vertical-align: center;
        margin-top: 25px;
    }

}

.resaultParent {
    width: 100%;
    position: fixed;
    top: 130px;

    display: flex;

    h4 {
        text-align: center;
    }

    .resaultStyle {
        display: inline-block;
        width: 549px;
        border: 1px solid blue;
        padding: 25px;
        vertical-align: top;
        margin: 15px;

        textarea {
            width: 100%;
            border: 0px;
            font-size: 1rem;
        }
    }

}

.popup {
    width: 100%;

    display: none;

    h4 {
        background-color: white;
        text-align: center;
        margin-bottom: 0px;
    }

    .popStyle {
        display: inline-block;
        width: 584px;

        padding: 25px;
        vertical-align: top;
        margin: 0px;

        

        textarea {
            width: 100%;
            border: 0px;
            font-size: 1rem;


        }
    }
    .closeButton {
        position: absolute;
        z-index:2000;
        bottom:132px;
        right:75px;
        margin-top: 25px;
    }
}