<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kevin O'Riley">
    <title>Pom Reader</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body class="theme-default">

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <!-- <script src="{{root}}assets/js/jquery.js" type="text/javascript"></script> -->

    <script src="{{root}}assets/js/jquery.js" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>

    <script src="{{root}}assets/js/jquery-ui.min.js"></script>

    <!-- <script src="{{root}}assets/js/libs/popper.js"></script>
    <script src="{{root}}assets/js/libs/bootstrap.js"></script>
    <script src="{{root}}assets/js/libs/require.js"></script> -->

    <script src="{{root}}assets/js/app.js"></script>
    <script src="{{root}}assets/js/popper.js"></script>
    <script src="{{root}}assets/js/bootstrap.js"></script>
    <!-- <script>
            var app = require('electron').remote;
            var dialog = app.dialog;
        </script> -->
</body>

</html>
